In [1]:
#checking python version
!python --version

Python 3.10.12

In [2]:
import pandas as pd

checking the library version

In [3]:
print(pd.__version__)

2.2.2

In [4]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

The command below tells pandas to display all columns of a DataFrame when printed. By default, pandas limits the number of columns displayed to avoid overwhelming the screen with too much information. If a DataFrame has more columns than the default setting allows, pandas truncates the output and shows a limited number of columns with ellipses (...) in between to indicate missing columns.

      1)'display.max_columns': This option controls the maximum number of columns displayed.

      2) None: When set to None, pandas will display all the columns in the DataFrame, regardless of how many there are.

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [14]:
df.shape

(985, 12)

Performed given following operations

In [7]:
# Find the number of columns in the dataframe
num_columns = df.shape[1]
print(f"Number of columns: {num_columns}")

Number of columns: 12

In [8]:
# Find the mean of the house prices
mean_price = df['price'].mean()
print(f"Mean house price: {mean_price}")

Mean house price: 234144.26395939087

In [9]:
# Find the median of the house prices
median_price = df['price'].median()
print(f"Median house price: {median_price}")

Median house price: 213750.0

In [10]:
# Find the different types of property in the dataset
property_types = df['type'].unique()
print(f"Different property types: {property_types}")

Different property types: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

In [11]:
# Find the maximum price of a "condo" in the dataset
max_condo_price = df[df['type'] == 'Condo']['price'].max()
print(f"Maximum price of a condo: {max_condo_price}")

Maximum price of a condo: 360000

In [12]:
# Find the mean price of each type of property in the dataset
mean_price_per_type = df.groupby('type')['price'].mean()
print("Mean price of each type of property:")
print(mean_price_per_type)

Mean price of each type of property:
type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

In [13]:
# Find the count of different property types in the dataset
property_type_count = df['type'].value_counts()
print("Count of different property types:")
print(property_type_count)

Count of different property types:
type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64